body{
    background-color: #212121;
}
nav{
    width: 1400px;
    height: 30px;
    background-color: #d5a813;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 100px;
}
.first{
    color: #212121;
    margin : 25px;
    text-decoration: none;

}
.second{
    color: #212121;
    margin: 25px;
    text-decoration: none;
}
.container {
    width: 575px;
    height: 825px;
  
    background-color: #d5a813;
    border-radius: 20px;
    padding-left: 100px;
  }
  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
  }
  
  #weight-guide {
    margin-left: 75px;
    margin-top: 25px;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
  }
  
  button {
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #212121;
    padding: 2px 21px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #212121;
    font-size: 25px;
    cursor: pointer;
}
  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }
  