body {
    background-color: #212121;
    color: #fff;
  }
nav{
  width: 1400px;
  height: 30px;
  background-color: orange;
  border-radius: 20px;
  padding-top: 10px;
  padding-left: 100px;
}
.first{
  color: #212121;
  margin : 25px;
  text-decoration: none;

}
.second{
  color: #212121;
  margin: 25px;
  text-decoration: none;
}
.center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#clock {
  font-size: 40px;
  background-color: orange;
  padding: 20px 50px;
  margin-top: 10px;
  border-radius: 10px;
}